h3 Edit title book
form(action='/books/edit', method='post')
  input(name='id', type='hidden', value=id)
  label(for='title') New title:
  br
  input(id='title', name='title', type='text')
  br
  button Update