h3 Create user
form(action='/users/create', method='post')
  label(for='name') Name:
  br
  input(id='name', name='name', type='text')
  br
  label(for='phone') Phone:
  br
  input(id='phone', name='phone', type='text')
  br
  button Create