h3 Create user
form(action='/users/create', method='post')
  label(for='user') User:
  select(id='user', name='user')
    each user in users
      option(value=user.id)= user.name
  br
  label(for='book') Label:
  select(id='book', name='book')
    each book in books
      option(value=book.id)= book.title
  button Create